<div class="container mx-auto w-50 mt-3" >
    <h2 class="text-center">CONATCT SECTION</h2>
     <div class="d-flex justify-content-center mt-3">
        <div class=" w-50   border-bottom border-4">
        </div> 
        <i class="fa-regular fa-star text-dark"></i>
        <div class="w-50 border-bottom border-4">
        </div>
    </div>
    <form>
      <div class="mb-5">
        <label for="name" class="form-label"></label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name">
      </div>
      <div class="mb-5">
        <label for="email" class="form-label"></label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email">
      </div>
      <div class="mb-5">
        <label for="password" class="form-label"></label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password">
      </div>
      <div class="mb-5">
        <label for="password" class="form-label"></label>
        <input type="password" class="form-control" id="password" placeholder="Enter your Repassword">
      </div>

      <button type="submit" class="btn btn-primary mb-3 ">send Message</button>
    </form>
  </div>